version: '3.8'

services:

  kafka:
    image: confluentinc/cp-kafka:7.8.3
    container_name: kafka
    user: root
    ports:
      - "9092:9092"
    environment:
      KAFKA_NODE_ID: 1
      KAFKA_PROCESS_ROLES: broker,controller
      KAFKA_LISTENER_SECURITY_PROTOCOL_MAP: CONTROLLER:PLAINTEXT,INTERNAL:PLAINTEXT,EXTERNAL:PLAINTEXT
      KAFKA_LISTENERS: INTERNAL://0.0.0.0:29092,EXTERNAL://0.0.0.0:9092,CONTROLLER://0.0.0.0:9093
      KAFKA_ADVERTISED_LISTENERS: INTERNAL://kafka:29092,EXTERNAL://localhost:9092
      KAFKA_INTER_BROKER_LISTENER_NAME: INTERNAL
      KAFKA_CONTROLLER_LISTENER_NAMES: CONTROLLER
      KAFKA_CONTROLLER_QUORUM_VOTERS: 1@kafka:9093
      KAFKA_OFFSETS_TOPIC_REPLICATION_FACTOR: 1
      KAFKA_TRANSACTION_STATE_LOG_MIN_ISR: 1
      KAFKA_TRANSACTION_STATE_LOG_REPLICATION_FACTOR: 1
      KAFKA_LOG_DIRS: /var/lib/kafka/data
      CLUSTER_ID: MkU3OEVBNTcwNTJENDM2Qk

  mongodb:
    image: mongo:latest
    container_name: mongodb
    ports: [ "27017:27017" ]

  mongo:
    image: mongo:latest
    ports:
      - "27017:27017"
    networks:
      - app-network

  mysql:
    image: mysql:8.0
    environment:
      MYSQL_ROOT_PASSWORD: root
      MYSQL_DATABASE: analytics_db
    ports:
      - "3306:3306"

  producer:
    build: ./producer
    depends_on:
      - kafka
      - mongo
    networks:
      - app-network

  consumer:
    build: ./consumer
    depends_on:
      - kafka
      - mysql
    networks:
      - app-network
    restart: on-failure

  analytics-api:
    build: ./analytics-api
    ports:
      - "8000:8000"
    depends_on:
      - mysql
    networks:
      - app-network

